{% extends "base.html" %}

{% block content %}

    <div class="container mt-3">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for t in task %}
                <div class="col">
                    <div class="card h-100">
                        <div class="d-flex">
                            <div class="card-body">
                                <h5 class="card-title">{{ t.summary }}</h5>
                                <p class="card-text">{{ t.description }}</p>
                                <a class="card-link" href="{% url 'detail' t.id %}">Подробнее</a>
                            </div>
                            <div>
                                <a class="btn btn-warning" href="{% url 'update_task' t.id %}">Update</a>
                                <a class="btn btn-danger" href="{% url 'delete_task' t.id %}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}