{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Добавление новой задачи</h1>
            </div>
            <div class="card-body">
                {% include 'partial/task_form.html' %}
            </div>
            <div class="card-footer text-end py-3">
                <button type="submit" form="task_form" class="btn btn-sm btn-primary">Сохранить</button>
            </div>
        </div>

    </div>

{% endblock %}

